.albums {
    background-color: pink;
    width: 100%;
    min-height: 100%;
}
.container {
    width: 100%;
    max-width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
    padding-bottom: 200px;
}
.flex-image {
    width: 100%;
    height: auto;
    width: 400px;
    align-self: center;
    padding: 20px;
    flex-basis: 25%;
}
@media (max-width: 800px) {
    .albums {
        background: black;
    }
    .container {
        flex-direction: column;
    }
}