/**  ========================================================================== 

This is where your custom styles begin. 

==========================================================================  */

/* Split the screen in half */

/* Split the screen in half */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

.info {
  text-decoration: none;
  float: left;
  padding-left: 20px;
  font-family: "Rubik Mono One", serif;
  color: white;
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 1px;
  padding: 10px 0;
}

.portfolio {
  float: left;
  position: relative;
  font-family: "Rubik Mono One", serif;
  color: white;
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 1px;
  padding: 10px 0;
  left: 10px;
}
.portfolyo {
  float: right;
  position: relative;
  right: 10px;
  font-family: "Rubik Mono One", serif;
  color: white;
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 1px;
  padding: 10px 0;
}
.hakkımda {
  float: right;
  padding-right: 40px;
  font-family: "Rubik Mono One", serif;
  color: white;
  border: 4px dashed rgb(0, 0, 0);
  border-radius: 1px;
  padding: 10px 0;
}

a:hover {
  color: black;
}

.portfolio:hover {
  color: black;
}

.hakkımda:hover {
  color: black;
}
.portfolyo:hover {
  color: black;
}

.baslık {
  padding-left: 550px;
}

.p1:hover {
  font-weight: bold;
}
.p2:hover {
  font-weight: bold;
}
.p3:hover {
  font-weight: bold;
}
.o1:hover {
  font-weight: bold;
}
.o2:hover {
  font-weight: bold;
}
.o3:hover {
  font-weight: bold;
}
.p1 {
  font-family: "Oswald", serif;

  font-weight: lighter;

  font-size: 50px;
  text-align: left;
  margin-top: 200px;
}
.p2 {
  text-align: left;
  font-weight: lighter;

  font-size: 50px;
}
.p3 {
  text-align: left;
  font-weight: lighter;
  
  font-size: 50px;
}
.p4 {
  text-align: left;
  font-weight: lighter;
  
  font-size: 50px;
}
.o1 {
  font-family: "Oswald", serif;

  font-weight: lighter;
  padding-right: 200px;
  font-size: 50px;
  margin-top: 200px;
}
.o2 {
  font-family: "Oswald", serif;

  font-weight: lighter;
  padding-right: 200px;
  font-size: 50px;
}
.o3 {
  font-family: "Oswald", serif;

  font-weight: lighter;
  padding-right: 200px;
  font-size: 50px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

a {
  text-decoration: none;
  color: white;
}
.graphic {
  z-index: 100;
  position: fixed;
  left: 50%;
  top: 150px;
  transform: translate(-50%, -50%);
}

.statement {
  z-index: 100;
  position: fixed;
  left: 108vh;
  transform: translate(-50%, -50%);
  z-index: 100;
  top: 150px;
}
.statement img {
  width: 300;
  display: block;
  margin: 0;
  margin-right: 50vh;
  -webkit-animation: spin1 5s infinite linear;
  -moz-animation: spin1 5s infinite linear;
  -o-animation: spin1 5s infinite linear;
  -ms-animation: spin1 5s infinite linear;
  animation: spin1 5s infinite linear;
  display: block;
}
/* Control the left side */
.left {
  font-family: "Oswald", serif;
  text-decoration: none;
  float: left;
  padding-left: 20px;
  color: white;
  left: 0;
  background: linear-gradient(
    176deg,
    #6000ff,
    #ff0000,
    #00ff42,
    #ff00f5,
    #291209
  );
  background-size: 600% 600%;
  -o-animation: LeftAnimation 9s ease infinite;
  animation: LeftAnimation 9s ease infinite;
}

@-o-keyframes LeftAnimation {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}
@keyframes LeftAnimation {
  0% {
    background-position: 0% 32%;
  }
  50% {
    background-position: 100% 69%;
  }
  100% {
    background-position: 0% 32%;
  }
}

.right {
  margin: auto;
  float: right;
  padding-right: 20px;
  font-family: "Oswald", serif;
  color: white;
  right: 0;
  background: linear-gradient(
    176deg,
    #bc94ff,
    #ffaeae,
    #75d98e,
    #ffb9fc,
    #d2cbc9
  );
  background-size: 600% 600%;
  -o-animation: RightAnimation 15s ease infinite;
  animation: RightAnimation 15s ease infinite;
}
@-o-keyframes RightAnimation {
  0% {
    background-position: 70% 0%;
  }
  50% {
    background-position: 31% 100%;
  }
  100% {
    background-position: 70% 0%;
  }
}
@keyframes RightAnimation {
  0% {
    background-position: 70% 0%;
  }
  50% {
    background-position: 31% 100%;
  }
  100% {
    background-position: 70% 0%;
  }
}

@-webkit-keyframes spin1 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@-moz-keyframes spin1 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-o-keyframes spin1 {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(360deg);
  }
}
@-ms-keyframes spin1 {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
  }
}
@-keyframes spin1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin2 {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
  }
}
@-moz-keyframes spin2 {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(-360deg);
  }
}
@-o-keyframes spin2 {
  0% {
    -o-transform: rotate(0deg);
  }
  100% {
    -o-transform: rotate(-360deg);
  }
}
@-ms-keyframes spin2 {
  0% {
    -ms-transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(-360deg);
  }
}
@-keyframes spin2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
